<html ng-app="App">
<head>
    <title>Kasa SDH Lískovec</title>
    <!-- Latest compiled and minified BootStrap CSS and Angular JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="app.js"></script>
    <style>
        .btn-success, .btn-danger {width: 100%;}
        img {width: 100px}
    </style>
</head>
<body>
    <div class="container" ng-controller="ItemListController">
        <h1>Kasa</h1>
        <div class="row" ng-repeat="item in items">
            <!-- <div class="col-sm-1"><img class="img-responsive" src="img/items/{{item.name | lowercase}}.jpg" alt="{{item.name}}"></div> -->
            <div class="col-sm-1" class="{{item.class}}"><b>{{item.name}}</b></div>
            <div class="col-sm-1"><b>{{item.smallPrice}}/{{item.price}}&nbsp;Kč</b></div>
            <div class="col-sm-3">
                <button class="btn btn-success" ng-click="addItem(item, 'small')">Malá {{item.name}} za {{item.smallPrice}} Kč</button>
            </div>
            <div class="col-sm-2">      
                <button class="btn btn-danger" ng-click="removeItem(item, 'small')" ng-disabled="item.orderedSmall == 0">Odebrat</button>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-success" ng-click="addItem(item, 'regular')">Velká {{item.name}} za {{item.price}} Kč</button>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-danger" ng-click="removeItem(item, 'regular')" ng-disabled="item.ordered == 0">Odebrat</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h2>Objednávka:</h2>
                <pre>{{order}}</pre>
            </div>
            <div class="col-sm-4">
                <h2>Placeno</h2>
                <button ng-repeat="bill in [10, 20, 50, 100, 200, 500, 1000, 2000]"
                        class="btn btn-primary" ng-click="countMoney(bill)">{{bill}}</button>
                <button class="btn btn-danger" ng-click="resetMoney()">Reset peněz</button>
            </div>
            <div class="col-sm-4">
                <h2>K zaplacení: {{totalPrice}}</h2>
                <h2 ng-hide="money <= 0">Zaplaceno: {{money}}</h2>
                <h2 ng-hide="moneyBack <= 0">Vrátit: {{moneyBack}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-danger" ng-click="reset()">Reset objednávky</button>
            </div>
        </div>
    </div>
</body>
</html>
